@{
    ViewData["Title"] = "Home Page";
}

<div class="card mt-5">
    <img src="//fakeimg.pl/750x300/868e96/fff" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Post title</h5>
        <p class="card-text">卡可愛不過我們角色知道覺好像，我還之前到最笑死的聖誕。

            的天家要字這套，吃什麼剛看太好看⋯可以直起那：的讓以沒有晚時分一直都，還是結，動話說界的二次樣子一個月。

            不及一個本雖然不，選擇法無法，設計的超不會可愛問喜歡我覺，適合文很可，比較一，照片⋯我沒一樣現啊有點道為什，還好我家，客邦的是我的本來還町田，到喜歡得也⋯畫面，了然後是因。部我就是等著離任何，解聖發現的方式，客邦人的少，不過的好：棒倒式在只要的這也我我我⋯可以這好上班已經證明。</p>
        <a href="#" class="card-link">SkillTree</a>
        <a href="#" class="card-link">MVC</a>
    </div>
    <div class="card-footer text-muted">
        Posted on @DateTime.Now.ToString("yyyy-MM-dd") by me
    </div>
</div>
<div class="card mt-5">
    <img src="//fakeimg.pl/750x300/868e96/fff" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Post title</h5>
        <p class="card-text">卡可愛不過我們角色知道覺好像，我還之前到最笑死的聖誕。

            的天家要字這套，吃什麼剛看太好看⋯可以直起那：的讓以沒有晚時分一直都，還是結，動話說界的二次樣子一個月。

            不及一個本雖然不，選擇法無法，設計的超不會可愛問喜歡我覺，適合文很可，比較一，照片⋯我沒一樣現啊有點道為什，還好我家，客邦的是我的本來還町田，到喜歡得也⋯畫面，了然後是因。部我就是等著離任何，解聖發現的方式，客邦人的少，不過的好：棒倒式在只要的這也我我我⋯可以這好上班已經證明。</p>
        <a href="#" class="card-link">SkillTree</a>
        <a href="#" class="card-link">MVC</a>
    </div>
    <div class="card-footer text-muted">
        Posted on @DateTime.Now.ToString("yyyy-MM-dd") by me
    </div>
</div>

<div class="card mt-5">
    <img src="//fakeimg.pl/750x300/868e96/fff" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Post title</h5>
        <p class="card-text">卡可愛不過我們角色知道覺好像，我還之前到最笑死的聖誕。

            的天家要字這套，吃什麼剛看太好看⋯可以直起那：的讓以沒有晚時分一直都，還是結，動話說界的二次樣子一個月。

            不及一個本雖然不，選擇法無法，設計的超不會可愛問喜歡我覺，適合文很可，比較一，照片⋯我沒一樣現啊有點道為什，還好我家，客邦的是我的本來還町田，到喜歡得也⋯畫面，了然後是因。部我就是等著離任何，解聖發現的方式，客邦人的少，不過的好：棒倒式在只要的這也我我我⋯可以這好上班已經證明。</p>
        <a href="#" class="card-link">SkillTree</a>
        <a href="#" class="card-link">MVC</a>
    </div>
    <div class="card-footer text-muted">
        Posted on @DateTime.Now.ToString("yyyy-MM-dd") by me
    </div>
</div>
<nav class="mt-4">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>